<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Customer Relationship Dashboard</title>
   <link href="../css/style.css" rel="stylesheet">
   <link href="../css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
<!-- Navigation -->
<div style="padding-bottom: 40px">
    <nav class="navbar navbar-fixed-top" style="background-color:#4dd2ff" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" \>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../image/Inforward Logo.png" height="100" width="200" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  </div>
    <div class="container">
    	<div class="panel-group">
       		<div class="panel panel-default">
    				<div class="panel-heading" style="background-color: #4dd2ff">
    				<h4 class="panel-title">
    					Uitdaging voor de winkellier in 2017: Experience, Efficiency & Expertise
    				</h4>
    				</div>
    				<div class="panel-body" style="font-size: 14px">
    				Beste collega, <br/><br/>

            Onderstaande event hebben wij voor jouw relaties geïndentificeerd.<br/><br/>

            Het supermarkt landschap  is volop in beweging. Een aantal jaren geleden had een supermarkt voldoende aan een goede locatie en lage prijzen.<br/><br/> 
            Inmiddels pakken online en offline concurrenten stukjes van het marktaandeel van de traditionele supermarkten af. Denk aan Action en maaltijdbox aanbieders, maar ook IKEA en HEMA.<br/><br/> 
            Veel formules zijn bezig met het doorontwikkelen van hun supermarkt. Bijvoorbeeld Plus met de "Briljant formule", AH XL en Jumbo Foodmarket.<br/><br/> 
            Wij zien een drietal belangrijke trends. Enerzijds de grote foodstores als AH XL. Hier gaat de consument bijvoorbeeld één keer per week naar toe en neemt een volle kar mee. Daarnaast fungeert deze winkel als echte experience store. Denk aan een pizza oven in de winkel, vers gebakken brood en een restaurant. Daarnaast hebben we de nog redelijk traditionele supermarkten in de kleinere steden en dorpen. Hier zal meer klantbinding en service als speerpunt gelden. De supermarkt fungeert hier zelfs als "dorpshuis". Denk aan de kenmerken van de speciaalzaak. Als laatste kennen we de wat kleinere city stores met een specifiek assortiment. Bijvoorbeeld op universiteiten en in de binnenstad. Het is gemak en snelheid wat hier telt.<br/><br/> 

            Speelt jouw supermarktondernemer op de juiste manier lokaal in op de ontwikkelingen om relevante te blijven in de nabije toekomst?<br/><br/> 	

    				</div>
       		</div>
     	</div>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <script src="../script/bootstrap.min.js"></script>
</body>
</html>
