<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Customer Relationship Dashboard</title>
   <link href="../css/style.css" rel="stylesheet">
   <link href="../css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
<!-- Navigation -->
<div style="padding-bottom: 40px">
    <nav class="navbar navbar-fixed-top" style="background-color:#4dd2ff" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" \>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../image/Inforward Logo.png" height="100" width="200" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  </div>
    <div class="container">
    	<div class="panel-group">
       		<div class="panel panel-default">
				<div class="panel-heading" style="background-color: #4dd2ff">
				<h4 class="panel-title">
					Uitdaging voor de winkellier in 2017: Experience, Efficiency & Expertise
				</h4>
				</div>
				<div class="panel-body" style="font-size: 14px">
					Nu de consumentenuitgaven weer toenemen zien we een tweedeling in de retailwereld. Een aantal gebieden profiteren volop van de aantrekkende economie terwijl het voor andere winkeliers sappelen blijft. Het succes van een winkel is afhankelijk van de drie E’s: Efficiency/gemak, Experience en Expertise. Daarnaast speelt de omgeving waar een retailer in opereert en het samenspel met deze omgeving een cruciale rol in succes. Het dus groot belang om goed samen te werken met de omgeving, bijvoorbeeld door gezamenlijke events. Verder speelt beleving tijdens het winkelen een steeds grotere rol echter het is van belang dat dit aansluit op lokale winkelgebieden.
					<br/><br/>
					Hier onder een tweetal actuele artikelen:
					<br/>
					<ul>
					<li><a href="http://www.nu.nl/ondernemen/4530618/winkeliers-samen-overleven-als-dooie-boel-is-red-niet.html">
						Hoe winkeliers samen overleven?
					</a></li>
					<li><a href="http://www.retailnews.nl/nieuws/9UBT0SQLQtCnm3inrqJAQQ-0/ca-gaat-winkels-grondig-verbouwen.html">
					C&A gaat winkels ‘grondig verbouwen’ </a></li>
					</ul><br/>

					Ga bijvoorbeeld met je klant in gesprek over 
					<br/>
					<ul>
						<li>Samenwerking met lokale ondernemers</li>
						<li>Visie op huidige locatiebeleid van bedrijf</li>
						<li>Hoe ervaren klanten op dit moment uw winkel?</li>
						<li>Hoe is de samenwerking met de vastgoed eigenaar?</li>
					</ul>
				</div>
       		</div>
     	</div>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <script src="../script/bootstrap.min.js"></script>
</body>
</html>
